<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="Rama_test.TestScenario_1"/>
     		 <class name="Rama_test.TestScenario_2"/>
     		 <class name="Rama_test.TestScenario_3"/>
        </classes>
    </test>
    <test name="SafariTest">
        <parameter name="browser" value="safari"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="macOS Catalina"/>
        <classes>
             <class name="Rama_test.TestScenario_1"/>
     		 <class name="Rama_test.TestScenario_2"/>
     		 <class name="Rama_test.TestScenario_3"/>
        </classes>
    </test>
</suite>
